* {
    box-sizing: border-box;
    margin: 0;
}

button {
    cursor: pointer;
}




/* Custom Fonts */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */

.max-w {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
}


.primary-black {
    color: black;
}

.dark2 {
    color: rgba(0, 0, 0, 0.5);
}

.dark3{
    color: #8987A1;
}

.orange {
    color:#E95A08;
}

.text-center {
    text-align: center;
}

.btn-primary {
    background-color: #E95A08;
    width: 100%;
    padding: 19px 80px;
    border: none;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

/* header section styles */
nav a {
    text-decoration: none;
    color: black;
    margin-left: 48px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 71px;
    margin-top: 30px;
}

.home {
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.banner-container {
    align-items: center;
    height: 460px;
    margin-top: 120px;
}

.banner-details h1 {
    font-size: 4rem;
    margin-bottom: 10px;
}

.banner-details span {
    color: #E95A08;
}

.banner-img img {
    width: 100%;
}

/* plants-buy-section-styles */

.plants-buy-section {
    margin-top: 120px;
}

.plant-card {
    max-width: 270px;   
}

.flower-name {
    font-size: 1.375rem;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 15px;
}

.flower-price {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 0px;
}

.plants-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.plant {
    width: 100%;
}

.our-plants {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.add-to-cart {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

.our-plants-desc {
    font-size: 1.375rem;
    margin-bottom: 50px;
}


/* Flower Store design */

.flower-lover{
    margin-top: 240px;
    gap: 60px;
}

.flower-lover img {
    width: 100%;
}
.flower-lover-title {
    font-size: 3rem;
    font-weight: bold;
}

.flower-lover-desc {
    margin-top: 30px;
    font-size: 1.375rem;

}


/* Subscribe section styles */

.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    height: 533px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    background-image: url("../assets/news-letter-bg.png");
}

.form-title {
    color: white;
    font-size: 3rem;
}
.subscribe-btn, input {
    height: 50px;
    padding: 19px 52px;
    border: none;
    margin-top: 40px;
}

.subscribe-section input {
    width: 644px;
    padding: 0;
    margin-right: 0;
    padding-left: 20px;
    height: 50px;
    

}

.subscribe-btn {
    display: inline-block;
    width: 186px;
    border: none;
    height: 51px;
    outline: none;
    color: white;
    background-color: #E95A08;
    margin-left: 0;
    font-weight: 600;
}
/* Footer styles */

.newsletter-form-container {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-evenly;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 50px;
}
.footer-links a {
    text-decoration: none;
    color: #8987A1;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.icon-twitter {
    position: relative;
    top: -8px;
}

.social-icons img{
    margin-left: 32px;
    cursor: pointer;
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .home, .shop, .about {
        display: none;
    }

    .responsive-margin {
        margin-top: 55px;
    }

    nav {
        padding: 30px;
    }

    .banner-details, .our-plants, .our-plants-desc, .flower-lover-desc, .flower-lover-title{
        margin-top: 30px;
        margin-left: 12px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 300px;
    }
    .plants-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .flower-lover{
        flex-direction: column;
        
    }

    .subscribe-section {
        max-width: 100%;
        padding: 30px;
        ;
    }

    .newsletter-form-container {
        max-width: 320px;
        margin: 0 auto;
        margin-left: 0;
    }

    footer {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-bottom: 500px;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    

    
}